<div class="ui six wide column centered grid">
  <div class= "column">
    <h1>編輯文章</h1>

    <%= render 'form' %>

    <%= link_to '返回', user_posts_path(current_user) %>
    <%= link_to '刪除文章', user_post_path(current_user, @post), data: { confirm: '確定刪除?' }, method: :delete %>
  </div>
</div>