<h1>Nikomica 活動發佈區(暫)</h1>

<h2>日期: 2015/06/19(五)(端午節)</h2>

<h2>地點: 大江購物中心</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14463.897343927241!2d121.228654!3d25.000988!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1d6ed108b7810e2a!2z5aSn5rGf5ZyL6Zqb6LO854mp5Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1433905149546" width="600" height="450" frameborder="0" style="border:0"></iframe>

<h2>活動目的: 看 <%= link_to("侏羅紀世界", "https://www.google.com.tw/search?es_sm=91&q=%E6%98%9F%E6%A9%8B%E5%9C%8B%E9%9A%9B%E5%BD%B1%E5%9F%8E&stick=H4sIAAAAAAAAAGOovnz8BQMDQxCHiJCwmYmxoZmpoYWJoYWpsRGQbWyRxPCI0Yxb4OWPe8JSuof-nOxkUudS5uLiFdl23FE0s-iTkxAbF1NJuRaDFLdjcWaifkhiZkFqpgKDBAMPb4zz2SfJQXHXtjYvXuB6hsVX6HohAJpxaqBvAAAA&sa=X&ved=0CCYQySYwAGoVChMI44KQjZGExgIVh9umCh2eFwA0&biw=2175&bih=1315") %> </h2>

<h2>參與人: 蔥貓、雷克、阿熊、蹦蹦</h2>

<h2>電影時間: 13:15</h2>

<h2>集合時間: 12:30</h2>