<div class="ui fixed inverted menu">
  <div class="ui container">
    <div class="header item">
      Nikomica
    </div>
    <a href="#" class="item">首頁</a>
    <div class="right menu">
      <div class="item">
        <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>